.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avartar_containner {
  width: 200px;
  height: 200px;
  position: relative;
}

.new_icon {
  position: absolute;
  font-size: 16px;
  font-weight: bolder;
  background-color: #80ffd5;
  padding: 4px;
  border-radius: 6px;
  transform: translate(170px, 10px);
}
